@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    @apply z-20 box-border scroll-smooth;
  }

  body {
    @apply h-full w-full overflow-x-hidden bg-base font-primary tracking-widest;
  }

  h1 {
    @apply text-xl text-white;
  }

  p {
    @apply font-secondary text-xs text-white;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-md bg-gold;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  /*ACA VAN LOS ESTILOS GLOBALES DE TAILWIND CON @APPLY*/
  .outletPrimaryContainer {
    @apply flex h-full w-full items-center justify-center;
  }

  .goldGradient {
    background: linear-gradient(90deg, #dcc361 -7.41%, #b8912d 113.89%);
  }

  .textGoldGradient {
    @apply goldGradient bg-clip-text text-transparent;
  }

  .footerNetworksIcons {
    @apply goldGradient mr-4 flex h-8 w-8 items-center justify-center rounded-full hover:animate-pulse hover:cursor-pointer;
  }

  .footerSections {
    @apply mx-8 flex h-full flex-col justify-center;
  }

  .aurora {
    @apply pointer-events-none absolute transform rounded-full blur-3xl transition-transform;
    width: 300px;
    height: 300px;
    background-image: radial-gradient(circle, #b8912d0e, #b8912d70);
    mix-blend-mode: screen;
  }

  .borderProduct {
    width: 287px;
    height: 240px;
    border: 25px solid;
    border-image-source: url("assets/productBorder.png");
    border-image-slice: 25;
    background-color: transparent;
  }

  .borderProductXl {
    width: 350px;
    height: 260px;
    border: 25px solid;
    border-image-source: url("assets/productBorderXl.png");
    border-image-slice: 57;
    background-color: transparent;
  }

  .swiperSlide {
    @apply flex h-full w-full items-center justify-center hover:cursor-grab active:cursor-grabbing;
  }
}

.swiper-pagination-bullet {
  @apply h-4 w-4 bg-gold/50;
}

.swiper-pagination-bullet-active {
  @apply bg-gold;
}
