@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    @apply box-border scroll-smooth;
  }

  body {
    @apply h-full w-full overflow-x-hidden bg-base font-primary tracking-widest;
  }

  h1 {
    @apply text-xl uppercase text-white;
  }

  p {
    @apply font-primary text-xs text-white;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-md bg-gold;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  /*ACA VAN LOS ESTILOS GLOBALES DE TAILWIND CON @APPLY*/
  .outletPrimaryContainer {
    @apply flex h-full w-full items-center justify-center;
  }

  .content {
    @apply min-h-[65vh];
  }

  .goldGradient {
    background: linear-gradient(90deg, #dcc361 -7.41%, #b8912d 113.89%);
  }
  .blueGradient {
    background: linear-gradient(150deg, rgba(45, 75, 129, 1) 18%, rgba(29, 61, 93, 1) 91%);
  }
  .textGoldGradient {
    @apply goldGradient bg-clip-text text-transparent;
  }

  .footerNetworksIcons {
    @apply goldGradient mr-4 flex h-8 w-8 items-center justify-center rounded-full hover:animate-pulse hover:cursor-pointer;
  }

  .footerSections {
    @apply mx-8 flex h-full flex-col justify-center;
  }

  .aurora {
    @apply pointer-events-none absolute transform rounded-full blur-3xl transition-transform;
    width: 300px;
    height: 300px;
    background-image: radial-gradient(circle, #b8912d0e, #b8912d70);
    mix-blend-mode: screen;
  }
}

.swiper-pagination-bullet {
  @apply !mr-3 h-3 w-3 bg-gold/50;
}

.swiper-pagination-bullet-active {
  @apply bg-gold;
}
