@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    @apply box-border scroll-smooth;
  }

  body {
    @apply h-full w-full overflow-x-hidden bg-base font-primary tracking-widest;
  }

  h1 {
    @apply text-xl uppercase text-white;
  }

  h2 {
    @apply text-sm uppercase text-white;
  }

  p {
    @apply font-secondary text-xs text-white;
  }

  strong {
    @apply textGoldGradient border-b-[0.1px] border-gold font-extrabold transition hover:cursor-pointer hover:opacity-50;
  }

  select {
    -webkit-appearance: none; /* Oculta la flecha en navegadores basados en WebKit */
    -moz-appearance: none; /* Oculta la flecha en navegadores basados en Mozilla */
    appearance: none; /* Oculta la flecha en navegadores compatibles con la propiedad "appearance" */
    @apply rounded-md  border-2 border-gold bg-transparent p-1 text-center capitalize !text-white;
  }

  option {
    @apply bg-base;
  }

  ::-webkit-scrollbar {
    @apply h-1 w-1 xl:w-2;
  }

  ::-webkit-scrollbar-corner {
    @apply hidden;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-md bg-gold;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  /*ACA VAN LOS ESTILOS GLOBALES DE TAILWIND CON @APPLY*/
  .outletPrimaryContainer {
    @apply flex h-full w-full items-center justify-center;
  }

  .content {
    @apply min-h-[65vh];
  }

  .goldGradient {
    background: linear-gradient(90deg, #dcc361 -7.41%, #b8912d 113.89%);
  }
  .blueGradient {
    background: linear-gradient(150deg, rgba(45, 75, 129, 1) 18%, rgba(29, 61, 93, 1) 91%);
  }
  .textGoldGradient {
    @apply goldGradient bg-clip-text text-transparent;
  }

  .footerNetworksIcons {
    @apply goldGradient mr-4 flex h-8 w-8 items-center justify-center rounded-full hover:animate-pulse hover:cursor-pointer;
  }

  .footerSections {
    @apply mx-8 flex h-full flex-col justify-center;
  }

  .aurora {
    @apply pointer-events-none absolute transform rounded-full blur-3xl transition-transform;
    width: 150px;
    height: 150px;
    background-image: radial-gradient(circle, #b8912d0e, #b8912d70);
    mix-blend-mode: screen;
  }

  .icons {
    @apply transition hover:cursor-pointer hover:opacity-50;
  }
}

.swiper-pagination-bullet {
  @apply !mr-3 h-3 w-3 bg-gold/50;
}

.swiper-pagination-bullet-active {
  @apply bg-gold;
}

/* Agrega estilos de animación para el border-bottom */
.link-animation {
  position: relative;
  transition: all 0.3s ease; /* Puedes ajustar la duración y el efecto de transición según tus preferencias */
}

.link-animation::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  height: 2px; /* Altura del border-bottom */
  background: linear-gradient(to right, #ffd700, transparent); /* Gradiente dorado */
  transition: right 0.3s ease; /* Asegúrate de que la transición sea la misma que en el elemento padre */
}

.link-animation:hover::before {
  right: 0;
}
